<div class="container-fluid container-xl px-xl-5">
  <div class="row">
    <div class="col-2 col-md-4"></div>
    <div class="col-8 col-md-4">
      <div class="card mt-3 mx-auto">
        <img src="../../assets/angular logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Welcome to Angular demo app!</h4>
          <p class="card-text">
            This app is built for STEM research project 
          </p>
        </div>
      </div>
    </div>
    <div class="col-2 col-md-4"></div>
  </div>
</div>